body{
    background-color:whitesmoke;
    font-family: sans-serif;
}
*{
    font-family: sans-serif;
}
#right-design{
    display: flex;
    justify-content: center;
    border-radius: 100%;
    height: 80vh;
}
img{
   max-width:75vh;
   max-height: 60vh;
    align-self: center;
}
#left-design{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.image{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#person{
    max-width:75vh;
   max-height: 60vh;
    align-self: center;
    border-radius: 100%;  
}
.touch{
    margin-top:-50px;
    transform: rotate(270deg);
    max-height:360px ;
    max-width:230px ;
    
}
#home{
    
    height: 100vh;
}
 .row1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 }